@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #333;
  background-color: #F2F2F2;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: #82B3D3;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
}

.button-alternative-color {
  background: #756157;
}

/* Pages */

.section-title {
  color: #000;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.page-header {
  color: #000;
}

.flex-wrapper {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  justify-content: space-between;
}

.header-logo-img {
  position: absolute;
  margin: 0;
}

.navigation {
  display: flex;
  width: 890px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 500px;
  list-style-type: none;
}

.navigation-user {
  margin-left: auto;
  max-width: 300px;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  text-align: center;
  color: inherit;
  text-decoration: none;
}

.navigation-user .navigation-link {
  min-width: 25px;
  min-height: 46px;
}

.navigation-button {
  padding: 9px 15px 8px;
  color: #fff;
}

.section-promo {
  text-align: center;
  background-image: url("../images/promo-background.jpg");
  background-color: #DC6243;
  background-size: cover;
}

.promo-logo {
  margin-top: 51px;
  margin-bottom: 82px;
}

.section-advantages {
  text-align: center;
}

.advantages-title {
  margin: 0;
  margin-top: 63px;
}

.advantages-intro {
  margin: 0;
  margin-top: 31px;
}

.advantages-list {
  margin: 0;
  margin-top: 90px;
  padding: 0;
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
}

.advantages-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(7) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-special {
  display: flex;
  width: 100%;
  color: #fff;
  background-color: #82B3D3;
}

.advantages-text-wrapper {
  width: 400px;
  min-height: 384px;
  padding: 0 85px;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.advantages-item-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-image {
  display: block;
  margin: 0;
}

.advantages-item-number,
.advantages-item-description {
  margin: 0;
  margin-top: 30px;
  font-size: 18px;
  line-height: 21px;
}

.section-search {
  text-align: center;
  padding-top: 91px;
  padding-bottom: 93px;
}

.search-title,
.search-text,
.search-button {
  margin: 0;
}

.search-title {
  margin-bottom: 29px;
}

.search-text {
  margin-bottom: 56px;
}

.search-button,
.subscribe-button {
  font-size: 20px;
  line-height: 36px;
}

.section-subscribe {
  padding: 94px 0;
  color: #ffffff;
  text-align: center;
  background-image: url("../images/index-subscribe-background.jpg");
  background-color: #DC6243;
  background-size: cover;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  color: #fff;
}

.subscribe-text {
  margin: 0;
  margin-bottom: 46px;
}

.page-footer {
  padding-top: 40px;
  padding-bottom: 30px;
}

.page-footer a {
  color: #000000;
  text-decoration: none;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 150px;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-contacts {
  max-width: 720px;
  text-align: center;
}

.footer-phone-number {
  font-size: 40px;
  line-height: 40px;
}

.footer-link-wrapper {
  width: 115px;
}

/* catalog page */

.inner-header-title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 60px;
  line-height: 78px;
}

.catalog-header {
  padding-top: 30px;
  padding-bottom: 70px;
  color: #ffffff;
  background-image: url("../images/catalog-background.jpg");
  background-color: #DC6243;
  background-size: cover;
}

.catalog-header-content {
  width: 1060px;
  margin: 0 auto;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  min-width: 12px;
  min-height: 12px;
  margin-right: 25px;
  color: inherit;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-left {
  display: flex;
  justify-content: space-between;
  width: 370px;
}

.catalog-filter-right {
  display: flex;
  justify-content: space-between;
  width: 520px;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  width: 160px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.control-label {
  font-size: 18px;
  line-height: 21px;
}

.filter-button-reset {
  background: none;
}

/* Catalog section */

.section-catalog {
  width: 1060px;
  margin: 0 auto;
}

.sorting-wrapper {
  display: flex;
  margin-top: 55px;
  margin-bottom: 56px;
}

.catalog-title {
  margin: 0;
}

.sorting-wrapper .button {
  width: 48px;
  height: 48px;
}

.hotel-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.hotel-type,
.hotel-price {
  font-size: 18px;
  line-height: 21px;
}

.button-favourites-selected {
  background-color: #7DB54F;
}

.hotel-stars,
.hotel-rating {
  font-size: 16px;
  line-height: 20px;
}

.hotel-rating {
  text-align: center;
  background-color: #F2F2F2;
  text-transform: uppercase;
}

/* Catalog bottom */

.catalog-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  width: 60px;
  height: 60px;
  padding: 11px 23px;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  background-color: #82B3D3;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.section-subscribe-catalog {
  color: inherit;
  background-color: #ffffff;
  background-image: none;
}

.subscribe-title-catalog {
  color: #000000;
}
